<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Address Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">

            <div class="col-sm-3">
                <h1>Buttons</h1>
            </div>
            <div class="col-sm-9">
                <h1>Contacts</h1>
                {% block content %}
                <ul>
                    {% for contact in contacts %}
                    {% include "templates/contact.html" %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>

        </div>
    </body>
</html>
